USE [master]
GO
/****** Object:  Database [gelarapps]    Script Date: 5/15/2020 10:36:54 AM ******/
CREATE DATABASE [gelarapps]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gelarapps', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gelarapps.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gelarapps_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gelarapps_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gelarapps].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gelarapps]
GO
/****** Object:  User [shin]    Script Date: 5/15/2020 10:36:54 AM ******/
CREATE USER [shin] FOR LOGIN [shin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [shin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [shin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [shin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [shin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [shin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [shin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [shin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [shin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [shin]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kategori] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keanggotaan]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keanggotaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [nvarchar](64) NOT NULL,
	[id_komunitas] [int] NOT NULL,
	[tgl_bergabung] [datetime] NOT NULL,
	[verified] [bit] NOT NULL,
	[role] [bit] NOT NULL,
 CONSTRAINT [PK_Keanggotaan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komunitas]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komunitas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_komunitas] [nvarchar](128) NOT NULL,
	[alamat] [nvarchar](256) NULL,
	[kategori] [int] NOT NULL,
	[deskripsi] [nvarchar](1024) NULL,
	[owner] [nvarchar](64) NOT NULL,
	[photo] [nvarchar](256) NULL,
 CONSTRAINT [PK_Komunitas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komunitas_Kategori]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komunitas_Kategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_kategori] [int] NOT NULL,
	[id_komunitas] [int] NOT NULL,
 CONSTRAINT [PK_Komunitas_Kategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagelaran]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagelaran](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[judul] [nvarchar](256) NOT NULL,
	[tempat] [nvarchar](256) NOT NULL,
	[waktu_mulai] [datetime] NOT NULL,
	[waktu_selesai] [datetime] NOT NULL,
	[deskripsi] [nvarchar](1024) NULL,
	[komunitas] [int] NULL,
	[creator] [nvarchar](64) NOT NULL,
	[photo_path] [nvarchar](256) NULL,
 CONSTRAINT [PK_Pagelaran] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/15/2020 10:36:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](64) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[nama] [nvarchar](256) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[status] [nvarchar](256) NULL,
	[photo] [image] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Keanggotaan] ADD  CONSTRAINT [DF_Keanggotaan_tgl_bergabung]  DEFAULT (sysdatetime()) FOR [tgl_bergabung]
GO
USE [master]
GO
